/* 
 * ============================================================================
 * ENVIRONMENT & CONTAINER CONFIGURATION
 * ============================================================================
 */
docker.enabled = true

process {
    container = 'ghcr.io/dr-bhavya/tcga_pipeline/docker_tcga_env:latest'
    containerOptions = '--user $(id -u):$(id -g)'
}
/* 
 * ============================================================================
 * EXECUTION PROFILES
 * ============================================================================
 */
profiles {
    test {
        // Enforce secure IAM Role / Instance Profile evaluation for S3 interaction
        aws.client.anonymous = false

        // Manifest and metadata files securely targeted from an AWS S3 Data Lake
        params.input_manifest = "s3://tcga-pipeline-data-lake/input/manifest_files_paths.csv"
        params.input_metadata = "s3://tcga-pipeline-data-lake/input/metadata_files_paths.csv"
        
        // Code assets and configuration scripts managed locally in GitHub
        //params.input_manifest = "${projectDir}/manifest_files/manifest_files_paths.csv"
        //params.input_metadata = "${projectDir}/metadata_files/metadata_files_paths.csv"
        params.annotation = "${projectDir}/gencode_v36_gene_annotation_table.csv"
        params.custom_merge_script = "${projectDir}/R_scripts/GDC_Merge_Refactored.R"
        params.rra_script_merge = "${projectDir}/R_scripts/merge_log2fc.R"
        params.rra_script_run = "${projectDir}/R_scripts/run_rra.R"
        params.rra_script_plot = "${projectDir}/R_scripts/rra_plot.R"
        }
    }
}
