/* 
 * ============================================================================
 * ENVIRONMENT & CONTAINER CONFIGURATION
 * ============================================================================
 */
docker.enabled = true

/* 
 * ============================================================================
 * EXECUTION PROFILES
 * ============================================================================
 */
profiles {
    test {
        params.input_manifest = "${projectDir}/manifest_files/manifest_files_paths.csv"
        params.input_metadata = "${projectDir}/metadata_files/metadata_files_paths.csv"
        params.annotation = "${projectDir}/gencode_v36_gene_annotation_table.csv"
        params.custom_merge_script = "${projectDir}/R_scripts/GDC_Merge_Refactored.R"
        params.rra_script_merge = "${projectDir}/R_scripts/merge_log2fc.R"
        params.rra_script_run = "${projectDir}/R_scripts/run_rra.R"
        params.rra_script_plot = "${projectDir}/R_scripts/rra_plot.R"
    }
}
