docker.enabled = true

profiles {
    test {
    params.input_manifest = "${projectDir}/manifest_files/manifest_files_paths.csv"
    params.input_metadata = "${projectDir}/metadata_files/metadata_files_paths.csv"
    params.custom_merge_script = "${projectDir}/GDC_Merge_Refactored.R"
    params.annotation = "${projectDir}/gencode_v36_gene_annotation_table.csv"
    }
}